#svn
.svn
**/tags/**

#npm
**/node_modules**/
**/package-lock.json

#angular
**/dist/
**/.angular/
**/src/app/utils/
**.specs.ts
**/environment*.ts


#node configs
**/config/*.js
**/utils/ssl/**
**/log/**
**/GisaSpid*.js

**/tmp/**
**/NodeJsServer/static/**
**/NodeJsServer_CertificatiExport/static/**
**/server/static/**
**/matrix/**
**/fvg-2/**
**/riuso/**

#scripts
**.sh
**.bat
**.xml
**.exe

#utils
**/db_schema/**

#sonar
**/.scannerwork/**