#nuovo-intervento {
  .cliccato {
    background: var(--tr-hover-bg) !important;
    td {
      color: var(--tr-hover-color) !important;
    }
  }
}

#allevamenti-modal {
  .cliccato {
    background: var(--tr-hover-bg) !important;
    td {
      color: var(--tr-hover-color) !important;
    }
  }
}

.table-container { max-width: 875px; }