.tableScheda {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.tableScheda tr {
  border: 1px solid #ddd;
  padding: .35em;
  page-break-inside:avoid;
page-break-before:auto;	
page-break-after:auto;	
}

.tableScheda th,
.tableScheda td {
  padding: .625em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.65em;
  line-height: 2.25;
  text-transform: uppercase;
  border: 1px solid black;
  
}

.tableScheda th {
  font-size: 0.65em;
  letter-spacing: .1em;
   background-color: #f8f8f8;
  }


.boxOrigineDocumento {
 	left: 5px;
	width: 300px;
	height: 15px;
	margin-top: 0.5px;
	text-align: left;
	padding-top: 0.5px;
	font-size: 8px;
	
}
.boxIdDocumento {
	left: 5px;
	border: 0.5px solid black;
	width: 100px;
	height: 30px;
	margin-top: 0.5px;
	text-align: center;
	padding-top: 0.5px;
	font-size: 8px;
}