
.boxOrigineDocumento {
 	left: 5px;
	width: 300px;
	height: 15px;
	margin-top: 1px;
	text-align: left;
	padding-top: 1px;
	font-size: 8px;
	display: none;
	}
.boxIdDocumento {
	left: 5px;
	border: 0.5px solid black;
	width: 100px;
	height: 30px;
	margin-top: 1px;
	text-align: center;
	padding-top: 1px;
	font-size: 8px;
	display: none;
}

.header {
padding: 5px;
margin: 10px;
}

.domande table {
border: 1px solid black;
border-collapse: collapse;
width: 100%;
}

.domande table, .domande td, .domande th {
border: 1px solid black;
}

.domande table, .domande th {
background-color: #c1e0ff;
font-weight: bold;
}


.dettaglioTabella table {
border: none;
border-collapse: collapse;
width: 50%;
}

.dettaglioTabella table, .dettaglioTabella th {
background-color: #ffffac;
font-weight: bold;
}


.editField{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.layout{
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
 text-decoration:underline
  }
