:root {
  --cal-pop-bg-color: white;
  --cal-pop-txt-color: var(--cal-black);
  --cal-pop-accent-color: var(--cal-primary-color);
  --cal-pop-border-radius: 3px;
}

//provided by NgbModal
.calendar-popup {

  .modal-content { //the actual popup content
    background: var(--cal-pop-bg-color);
    color: var(--cal-pop-txt-color);
    font-size: 16px;
    border-width: 0px;
    border-radius: var(--cal-pop-border-radius);
    box-shadow: 3px 6px 6px 0px rgb(0 0 0 / 30%);
    width: 512px;
  }


  &.calendar-event-info-popup {
    --cal-pop-action-btn-txt-color: white;
    border: none;
    padding: 0;
  }
}
