@CHARSET "ISO-8859-1";

@page { 
	margin: 5px 30px 30px 30px;
	 @bottom-center {
    content: counter(page) " su " counter(pages);
		}
}
td{
	  page-break-inside: avoid;
	  word-wrap:break-word;
/* 	  font-size: x-small; */
	  }
table { 
            -fs-table-paginate: paginate;
            border-spacing: 0;
            table-layout:fixed; width:100%;
            word-wrap:break-word;            
        }

table.tabellaHeader {
	width: 100%;
	text-align: center;
	border: 0.5px solid;
	border-collapse: collapse;
}

.tabellaHeader td{
	width: 50%;
	border: 0.5px solid;
	padding: 8px;
}

table.tabellaHeader-simple {
	width: 100%;
	text-align: center;
	border: 0.5px solid;
	border-collapse: collapse;
}

.tabellaHeader-simple td{
	border: 0.5px solid;
	padding: 8px;
}

table.tabellaContent {
	width: 100%;
	text-align: left;
	border: 1px solid;
	border-collapse: collapse;
}

.tabellaContent td{
	border: 1px solid;
	padding: 8px;
	line-height: 25px;
}

.tabellaContent .vertical{
	font-size: large;
	writing-mode: sideways-lr;
	width: 5%;
	background: lightgray;
}

table.tabellaContent-simple {
	width: 100%;
	text-align: left;
	border: 1px solid;
	border-collapse: collapse;
}

.tabellaContent-simple td{
	border: 1px solid;
}

.tabellaContent-simple .vertical-simple{
	writing-mode: sideways-lr;
	width: 5%;
}