**/.svn
**/invio_mail_test.jsp
**/checkUtenti.jsp
**/cleanUtentiInvalidate.jsp
**/getUtentiRaw.jsp
**/checkUtentiPo.jsp
**/cleanUtenti.jsp
**/listaUtenti.jsp
**/checkUtentisuap.jsp
**/getUtenti.jsp
**/lookup_selector_utenti_gisa.jsp
**/aes_key
**/imports/application.properties*
**/gisa_nt/*conf_PEC_uff.xml 
**/gisa_nt/*conf_PEC.xml
**/*.pdf
**/*.doc
**/*.docx
**/*.odt
**/gisa_nt/README*
**/gisa_nt/LICENSE*
**/gisa_nt/build7*
**/gisa_nt/build8*
**/tmp_img



**/centriccrm.gif
**/concourseSuiteCommunitySplash.png
**/concourseSuiteCommunitySplashOLD.png
**/header_acque.jpg
**/header_apistica.jpg
**/header_targheeco.png


