#top-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: var(--top-bar-height);
  background-color: var(--top-bar-bg);
  color: var(--top-bar-color);

  #page-title {
    margin-bottom: 0;
  }

  #menu-button {
    all: unset;
    color: inherit;
    font-size: var(--top-bar-icon-width);
    background: transparent;
    padding: 8px;
    margin-right: -8px;
    margin-left: auto;
    cursor: pointer;

    .icon {
      width: var(--top-bar-icon-width);
      height: var(--top-bar-icon-width);
    }
  }

  @media screen and (min-width: 1024px) {
    .nav-links {
      border-right: 2px solid currentColor;
    }
  }
}
