<script> var filename="login.html";</script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>DCA/43 test</title>

</head>
<body>
		<div class="w3-container" style="max-width:30%">
         <form class="w3-container" action="/main" method="post">

                <input class="w3-input" type="text" placeholder="insert role"  name="role" required style="background:#e2e9ff;">
                <button class="w3-button w3-padding w3-border w3-round w3-left " type="submit"> Go </button>

        </form>
	 </div>

</body>
</html>

